
.header__container {
    max-width: 76%;
    margin-inline: auto;
    position: relative;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -3.4em;
    width: 100%;
    z-index: 3;
}
.header__block {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1em 2em;
    border-radius: 40px;
    background-color: #fff;
}
.nav__menu {
    display: flex;
    align-items: center;
}
.nav__circle {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    padding: 4.5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
    background-color: #fff;
}
.menu {
    display: flex;
    gap: 1em;
    position: absolute;
    padding-left: 4em;
    left: 17em;
    z-index: -2;
}
.menu a {
    transition: 0.5s;
}
.menu a:hover {
    color: var(--prime-color);
}
.menu__item:nth-child(3) {
    color: var(--prime-color);
}
.green__elips {
    position: absolute;
    z-index: -10;
    top: 0;
    right: -13%;
}
/* @media (max-width: 1700px) {
    .green__elips {
        right: -20%;
    }
} */
.hero__wrap {
    position: absolute;
    top: 10em;
    left: 12em;
}
.hero img {
    border-radius: 100%;
}
.hero {
    position: absolute;
    top: 50%;
    left: 3.5em;
    transform: translateY(-50%);
}
.languages {
    display: flex;
    padding-top: 10em;
    padding-left: 20em;
    gap: 1em;
    text-transform: uppercase;
}
.language {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.2s ease;
    z-index: 11;
}
.language:hover {
    background-color: var(--prime-color);
    color: #fff;
}
.language:nth-child(1) {
    color: var(--white-text);
    background-color: var(--prime-color);
}
.header__content {
    margin-top: 10em;
}
.header__content span {
    color: var(--prime-color);
}
.block__title {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    font-weight: 550;
}
.header__buy__info {
    display: flex;
    gap: 2em;
    align-items: center;
}
.header__price span {
    font-size: 1.6em;
    font-weight: bold;
}
.header__desc {
    max-width: 24.5em;
    font-size: 1.1em;
}
.header__desc_custom {
    font-weight: bold;
}
.sidebar__wrap {
    display: flex;
    margin-left: 2em;
    position: absolute;
    top: 18em;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}
.sidebar__item {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 60px;
    height: 4em;
    width: 4em;
    cursor: pointer;
    transition: all 0.6s ease-out;
}
.sidebar__item:hover {
    width: 8em;
    color: var(--prime-color);
}
